.logo{
    width: 70%;
    height: 450px;
    padding: 12px 20px;
    margin-left: 180px;
    margin-top: 70px;
    box-shadow: border-box;
    border: 2px solid blue;
    background-color: gray;
    color: #333;
    border-radius: 15px;
}

.link a{
    text-decoration: none;;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    float: right;
    color: white;
}

.link a:hover{
    color: red;
}

.inner img {
    position: relative;
    border-radius: 100px;
    left: 90px;
    top: 60px;
}

.inner b{
    position: relative;
    left: 300px;
    bottom: 120px;
    color: black;
}

.special{
    position: relative;
    margin-left: 300px;
    width: 150px;
    bottom: 105px;
    color: black;
}

.experience{
    position: relative;
    margin-left: 300px;
    width: 250px;
    bottom: 100px;
    color: black;
}

.company{
    float: right;
    position: relative;
    margin-right: 40px;
    bottom: 150px;
    color: black;
}

.born{
    float: right;
    position: relative;
    margin-right: 115px;
    bottom: 160px;
    color: black;
}

button{
    position: absolute;
    padding: 30px;
    background-color: blue;
    color: white;
    border-radius: 50px;
    margin-left: 300px;
    border: 2px blue;
    font-size: 20px;
    bottom: 130px;
}

.contact a{
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    width: 150px;
    margin-left: 530px;
    bottom: 160px;
}

.contact a:hover{
    color: yellow
}